@font-face {
    font-family: "Leokadia";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./flask_BGITU/fonts/leokadia.woff) format("woff"),
        url(./flask_BGITU/fonts/leokadia.ttf) format("ttf"),
        url(./flask_BGITU/fonts/leokadia.eot) format("eot");
    }
header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        background: #146356;
        height: 50px;
}
menu{
    font-family: Leokadia, Georgia;
}
