@font-face {
        font-family: "Leokadia";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: {url_for('static', filename='fonts/leokadia.woff')} format("woff"),
            {url_for('static', filename='fonts/leokadia.ttf')} format("ttf"),
            {url_for('static', filename='fonts/leokadia.eot')} format("eot"),
    }
    html, body{
        font-family: Georgia;
        color: #146356;
        face: "Leokadia"
    }
ul.mainmenu {
    font-family: leokadia, Georgia;
	list-style: none;
	background: #146356;
	height: 60px;
	margin: 0;
	padding: 0;
	color: #fdc073;
	font-size: 20px;
	overflow: hidden;
}
ul.mainmenu li {
	float: left;
	margin: 20px 25px 0px 0px;
}
ul.mainmenu li.last {float: right;}

ul.mainmenu li a {
	color: #FFF1BD;
	text-decoration: none;
	padding: 8px 10px;
    letter-spacing: 0.27em;
}
ul.mainmenu li a:hover {
	color: #FDA83D;
}

    .logo {
        float: left;
        margin: 5px 25px 0px 0px;
        object-fit:fill;
    }

    .recipe{
        color: #146356;
        background-color: #FFF1BD;
        position: relative
    }

    .recipe img {
        flex-grow: 1;

    }

    .recipe a{
        text-decoration: none;
        color: #146356;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        padding: 0% 0% 0% 1%
    }

    .me_img {
    display: flex;
    float: left;
    height: 80%;
    }

    .table {
    border-collapse: collapse;
   /*убираем пустые промежутки между ячейками*/
   /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
    width :  80% ;
    margin: 30px auto;

    }
    .table th  {
    height :  60px ;
    background-color : #FFF1BD;
    }
    .table td  {
    text-align :  center ;
    vertical-align : middle;
    }

