<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet"/>
    {% block title -%}
    <title>{{title}}</title>
    {% endblock %}
</head>
<body>
{% block content -%}
{%- block mainmenu -%}
<ul class="mainmenu">
    <div class="logo">
          <img src="{{url_for('static', filename='img/logo.png')}}" hspace="5"/>
    </div>
    {% for m in menu %}
    <li><a href="{{url_for(m.url)}}">{{m.title}}</a></li>
    {% endfor %}
</ul>
{% endblock mainmenu -%}

{% endblock -%}
</body>
</html>