{% extends "home.html" %}
{% block content %}
<header>
    <div class="logo">
          <img src="img/logo.png" height="50" hspace="5"/>
    </div>
    <nav class="menu">
    <ul>
            <li><a href="http://127.0.0.1:5000/">Рецепты</a></li>
            <li><span class="active">Помощь</span></li>
            <li><a href="http://127.0.0.1:5000/Nyan%20Cat/">Нян кэт</a></li>
            <li><a href="http://127.0.0.1:5000/about/">О сайте</a></li>
    </ul>
    </nav>
</header>
{% if title == 'PI' %}
<center><h1> Помощь вам не поможет</h1>
<img src="D:/ЛИЗА/БГИТУ/Python МВ/my_site/img/cat.gif"></center>
{% elif title == '2014' %}
    <center><h1> Хочу в Турцию</h1></center>
{% else %}
    <center><h1>Помощь уже едет </h1></center>
    {% endif %}
{% endblock %}