<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Начальная страница</title>
    <link href="./my_site/styles.css" rel="stylesheet" />
</head>
<body>
<header>
    <div class="logo">
        <img src="images/header-title.png"
        width="30" height="30">
    </div>
    <nav class="menu">
        <ul>
            <li><a href="http://127.0.0.1:5000/"><font color="F3C892" face="Leokadia">Рецепты</font></a></li>
            <li><a href="http://127.0.0.1:5000/help/"><font color="A3DA8D" face="Leokadia">Помощь</font></a></li>
            <li><a href="http://127.0.0.1:5000/Nyan%20Cat/"><font color="A3DA8D" face="Leokadia">Нян кэт</font></a></li>
        </ul>
    </nav>
</header>
<center> <h1>Рецепты</h1>
    <p>Тут что-то будет</p>
</center>
</body>
</html>



