<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    {% block title -%}
    <title>{{menu[title]}}</title>
    {% endblock %}
</head>
<body>
{% block content -%}
<header>
    {%- block mainmenu -%}
    <div class="logo">
          <img src="{{url_for('static', filename='img/logo.png')}}" hspace="5"/>
    </div>
    <nav class="menu">
    <ul>
            <li><span class="active">Рецепты</span></li>
            <li><a href="http://127.0.0.1:5000/help/">Помощь</a></li>
            <li><a href="http://127.0.0.1:5000/Nyan%20Cat/">Нян кэт</a></li>
            <li><a href="http://127.0.0.1:5000/about/">О сайте</a></li>
            <li><a href="http://127.0.0.1:5000/me/">Разработчик</a></li>
    </ul>
    </nav>
    {% endblock mainmenu -%}
</header>
<center> <h1>Рецепты</h1>
    <div class="recipe">
        <img src="https://eda.ru/img/eda/c180x180/s1.eda.ru/StaticContent/Photos/150615095301/150617154856/p_O.jpg">
        <font color="146356" size="5" ><a href="http://127.0.0.1:5000/spagetti/">Спагетти карбонара с красным луком</a></font>
    </div>
</center>
{% endblock -%}
</body>
</html>



