{% extends "base.html" %}
{% block content %}
{{ super() }}
    <center>
        <h1>Лазанья классическая с мясом</h1>
    </center>
        <h3>Ингредиенты</h3>
        <div class="recipe">
        <ul>
            <li>Мясной фарш - 600 г</li>
<li>Соус болоньезе - 600 г</li>
<li>Сливочное масло - 60 г</li>
<li>Пшеничная мука - 5 столовых ложек</li>
<li>Оливковое масло - 2 столовые ложки</li>
<li>Молоко - 750 мл</li>
<li>Готовые сухие листы лазаньи - 10 штук</li>
<li>Твердый сыр - 500 г</li>
        </ul></div>

        <h3>ИНСТРУКЦИЯ ПРИГОТОВЛЕНИЯ</h3>
        <img src="https://eda.ru/img/eda/c434x295/s1.eda.ru/StaticContent/Photos/151031004547/151106181107/p_O.jpg.webp">
        <p>1 В сотейник положить сливочное масло и 2 ложки растительного масла, растопить. Постепенно добавлять муку и размешивать так, чтобы не оставалось комочков.</p>
        <img src="https://eda.ru/img/eda/c434x295/s1.eda.ru/StaticContent/Photos/151031004547/151106181110/p_O.jpg.webp">
        <p>2 Когда вся мука вмешана, влить все молоко. Убавить огонь и томить до нужной консистенции: не жидкой, но и не слишком густой. Консистенция нежирной сметаны.</p>
        <img src="https://eda.ru/img/eda/c434x295/s1.eda.ru/StaticContent/Photos/151031004547/151106181111/p_O.jpg.webp">
        <p>3 На сковороде раскалить оливковое масло. Добавить мясной фарш (лучше свинина+телятина).</p>
        <img src="https://eda.ru/img/eda/c434x295/s1.eda.ru/StaticContent/Photos/151031004547/151106181113/p_O.jpg.webp">
        <p>4 Фарш жарить до полуготовности. Влить в него соус болоньезе, посолить и поперчить по вкусу.</p>
        <img src="https://eda.ru/img/eda/c434x295/s1.eda.ru/StaticContent/Photos/151031004547/151106181115/p_O.jpg.webp">
        <p>5 Духовку разогреть до 180 градусов. Форму смазать сливочным маслом. На дно вылить немного соуса бешамель, чуть-чуть, только чтобы покрыть дно.</p>
        <img src="https://eda.ru/img/eda/c434x295/s1.eda.ru/StaticContent/Photos/151031004547/151106181116/p_O.jpg.webp">
        <p>6 Выложить пласты (не вареные). На пласты выложить получившийся фарш (не жалеем!), на фарш — натертый сыр. На сыр — соус бешамель.</p>
        <img src="https://eda.ru/img/eda/c434x295/s1.eda.ru/StaticContent/Photos/151031004547/151106181117/p_O.jpg.webp">
        <p>7 Соуса нужно выкладывать столько, сколько необходимо, на ваш взгляд, чтобы лазанья получилась сочной. Поверх соуса выложить сухие листы лазаньи. Повторить процедуру.</p>
        <img src="https://eda.ru/img/eda/c434x295/s1.eda.ru/StaticContent/Photos/151031004547/151106181119/p_O.jpg.webp">
        <p>8 Последний слой листов промазать соусом бешамель и сверху щедро засыпать сыром. Дать постоять минут 7–10. Поставить в духовку. Печь 30 минут.Последний слой листов промазать соусом бешамель и сверху щедро засыпать сыром. Дать постоять минут 7–10. Поставить в духовку. Печь 30 минут.</p>
{% endblock %}