{% extends "base.html" %}
{% block content %}
{{ super() }}
<center><h1>Это я</h1></center>
    <div class="me_img">
<img src="{{url_for('static', filename='img/me.jpg')}}" height="893" /></div>
    <center><h2>Кузина Лиза</h2>
<h2>Средний балл: 5</h2>
<div class="table">
    <table>
        <tr>
                <th>Дисциплина</th>
                <th>Оценка</th>
        </tr>
        <tr>
                <td>Математика</td>
                <td>отлично</td>
            </tr><tr>
                <td>История</td>
                <td>отлично</td></tr>
            <tr>
                <td>Информатика</td>
                <td>отлично</td>
            </tr>
            <tr>
            <td>Экономика и организация фин-хоз деят-ти предприятия</td>
                <td>отлично</td>
            </tr>
            <tr>
                <td>Алгоритмизация и программирование</td>
                <td>отлично</td>
            </tr>
            <tr>
                <td>Иностранный язык</td>
                <td>отлично</td>
            </tr>
            <tr>
                <td>Философия</td>
                <td>отлично</td>
            </tr>
    </table>
</div>
</center>

{% endblock %}