{% extends "home.html" %}
{% block content %}
<header>
    <div class="logo">
          <img src="{{url_for('static', filename='img/logo.png')}}" hspace="5"/>
    </div>
    <nav class="menu">
    <ul>
            <li><a href="http://127.0.0.1:5000/">Рецепты</a></li>
            <li><a href="http://127.0.0.1:5000/help/">Помощь</a></li>
            <li><a href="http://127.0.0.1:5000/Nyan%20Cat/">Нян кэт</a></li>
            <li><a href="http://127.0.0.1:5000/about/">О сайте</a></li>
            <li><span class="active">Разработчик</span> </li>
    </ul>
    </nav>
</header>
<center><h1>Это я</h1>
<img src="{{url_for('static', filename='img/me.jpg')}}" width="25%" />
<h2>Кузина Лиза</h2>
<h2>Средний балл: 5</h2></center>
<div class="table">
    <table>
        <div class="th">
        <tr>
                <th>Дисциплина</th>
                <th>Оценка</th>
        </tr>
        </div>
        <div class="td">
        <tr>
                <td>Математика</td>
                <td>отлично</td>
            </tr><tr>
                <td>История</td>
                <td>отлично</td></tr>
            <tr>
                <td>Информатика</td>
                <td>отлично</td>
            </tr>
            <tr>
            <td>Экономика и организация фин-хоз деят-ти предприятия</td>
                <td>отлично</td>
            </tr>
            <tr>
                <td>Алгоритмизация и программирование</td>
                <td>отлично</td>
            </tr>
            <tr>
                <td>Иностранный язык</td>
                <td>отлично</td>
            </tr>
            <tr>
                <td>Философия</td>
                <td>отлично</td>
            </tr>
        </div>
    </table>
</div>
{% endblock %}